.questions-info-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 80%;
  height: 100vh;
}

.question-info-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  margin: 0px;
  border-bottom: .075em solid rgba(150, 149, 149, 0.308)
}

.top-q-info-page {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 25vh;
}

.question-info-likes {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.question-like-button {
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.question-like-button:hover {
  cursor: pointer;
  background-color: green;
  box-shadow: 0 1px black;
}

.question-like-button:active {
  cursor: pointer;
  background-color: white;
}

.question-unlike-button:hover{
  cursor: pointer;
  background-color: red;
  box-shadow: 0 1px black;
}

.question-unlike-button{
  border: none;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

.question-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1em;
  gap: .5em;
}

.question-buttons {
  display: flex;
  flex-direction: row;
}

.question-delete-button {
  background-color: rgb(96, 47, 5);
  color: white;
  border-radius: .3em;
  border: .1em solid rgb(77, 37, 3);
}

.mid-q-info-page {
  display: flex;
  height: 25vh;
  padding-bottom: 400px;
  margin-top: 2em;
  padding-left: .5em;
}

.question-info-answer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  list-style: none;
  gap: 1em
}

.specific-answer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 5vh;
  /* padding-bottom: 5vh; */
}

.answer-voting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-voting-body {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.answer-vote-button-up {
  border: none;
  cursor: pointer;
  background-color: white;
}

.answer-vote-button-down {
  border: none;
  cursor: pointer;
  background-color: white;
}

.answer-vote-button-up:active {
  background-color: rgb(4, 202, 4);
}


.answer-vote-button-up:active,
.answer-vote-button-up:hover,
.answer-vote-button-up:focus{
  background-color: rgb(4, 202, 4);
}

/* .answer-vote-button-up:focus{
  background-color: rgb(4, 202, 4);
} */

.answer-vote-button-down:active{
  border: none;
  background-color: red;
}

.answer-vote-button-up:hover {
  background-color: rgb(4, 202, 4);
  box-shadow: 0 2px gray;
}

.answer-vote-button-down:hover {
  border: none;
  box-shadow: 2px;
  background-color: red;
  box-shadow: 0 2px gray;
}

.question-delete-button:hover {
  background-color: rgb(64, 31, 3);
}

.edit-question-button {
  background-color: rgb(96, 47, 5);
  color: white;
  border-radius: .3em;
  border: .1em solid rgb(77, 37, 3);
}

.edit-question-button:hover {
  background-color: rgb(64, 31, 3);
}

.bottom-q-info-page {
  display: flex;
  margin-top: auto;
}
.question-details-edit-answer-link{
  color: rgb(96, 47, 5);
  text-decoration: none;
}

.question-details-edit-answer-link:hover{
  color: rgb(142, 70, 8);
}

.question-details-vote-number{
  font-size: 20px;
}

.question-details-tag-link{
  text-decoration: none;
  color: rgb(96, 47, 5);
  padding-left: 5px;
}

.question-details-tag-link:hover{
  color: rgb(142, 70, 8);
}

.question-details-tag-link:visited{
  color: rgb(96, 47, 5);
}
