.main-logout-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10em; */
    width: 20em;
    box-sizing: border-box;
    height: 100%;

}

.sub-logout-container {
    border: .1em solid rgba(150, 149, 149, 0.308);
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    background-color: white;

}

.logout-message {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    box-sizing: border-box;

}

.first-logout-message {
    margin-bottom: 1em;
    box-sizing: border-box;
}

.creator-links-logout {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    gap: 1em;
}


.github-link,
.cancel-link {
    text-decoration: none;
    color: rgb(96, 47, 5);
}

.cancel-link {
    background: none;
    border: none;
    cursor: pointer;
}


.github-link:hover {
    color: rgb(142, 70, 8);

}

.cancel-link:hover {
    background-color: rgba(255, 234, 195, 0.5);

}

.logout-cancel-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.logout-button-confirm {
    box-sizing: border-box;
    height: 2.75em;
    cursor: pointer;
    margin-right: 1em;
    background-color: rgb(96, 47, 5);
    color: white;
    border-radius: .3em;
    border: .1em solid rgb(77, 37, 3);
    font-size: small;
    padding-left: .75em;
    padding-right: .75em;
}

.logout-button-confirm:hover {
    background-color: rgb(64, 31, 3);

}


.super-parent-div {
    display: flex;
    justify-content: center;
    background-color: rgb(229, 229, 229);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /* border-top: .02em solid black; */
    box-shadow: inset 0em 0 .2em rgba(17, 17, 17, 0.377);


}
