.main-sign-up-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10em; */
    width: 50em;
    box-sizing: border-box;
    padding-top: 15em;
    gap: 5em;
}

.join-site-text {
    font-size: x-large;
    word-wrap: break-word;
}

.join-site-container {
    display: flex;
    flex-direction: column;
}

.advertisement-to-sign-up {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap: 2em;
    font-size: large;
}

.sign-up-team-advertisement {
    display: flex;
    flex-direction: column;
    font-size: small;
    gap: .25em;
}

.list-of-things-offered {
    font-size: medium;
}
