.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-edit{
  width: 100%;
  display: flex;
  justify-content: center;

}

.edit-question-title-input{
  width: 100%;
  /* justify-content: center; */
}

.edit-question-title-input-div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-question-question-textarea{

}
