.logo {
    width: 200px;
    height: 70px;
    box-sizing: content-box;

}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;

}

.right {
    margin-top: 1.5%;
    box-sizing: border-box;
}
