.logo {
    width: 13em;
    height: 4.5em;
    box-sizing: content-box;
    /* margin-right: 1em; */

}

.logo:hover {
    background-color: rgba(183, 195, 199, 0.514)
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: .075em solid rgba(150, 149, 149, 0.308);
    border-top: .2em solid rgb(96, 47, 5);
}

.right {
    margin-top: 2em;
    box-sizing: border-box;
}

.logout-button {
    margin-top: .4em;
    height: 2.45em;
    cursor: pointer;
    margin-right: 2em;

}



.login-button-navbar {
    box-sizing: border-box;
    height: 2.5em;
    width: 5.13em;
    background-color: rgba(253, 218, 188, 0.634);
    color: rgb(144, 110, 58);
    border-radius: .3em;
    border: .1em solid rgba(156, 127, 88, 0.815);
    font-size: small;
    padding-left: .75em;
    padding-right: .75em;
    margin-top: .4em;
    margin-left: .5em;
    cursor: pointer;
}

.sign-up-button-navbar {
    box-sizing: border-box;
    height: 2.5em;
    width: 5.13em;
    background-color: rgb(96, 47, 5);

    color: white;
    border-radius: .3em;
    border: .1em solid rgb(77, 37, 3);
    font-size: small;
    padding-left: .75em;
    padding-right: .75em;
    margin-top: .4em;
    cursor: pointer;

}

.sign-up-button-navbar:hover {
    background-color: rgb(64, 31, 3);

}

.login-button-navbar:hover {
    background-color: rgba(132, 179, 210, 0.634);
}

.login-and-sign-up {
    display: flex;
    flex-direction: row;
    gap: .5em;
}
