.question-detail {
    margin-top: 1em;
    /* border-top: .075em solid black; */
    border-bottom: .075em solid rgba(150, 149, 149, 0.308);
    padding-left: .05em;

}

.likes-answers {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    font-size: small;
    /* margin-left: 1%; */
}

.answer-count {
    margin-left: .5em;
    color: gray;

}

.main-container {
    display: flex;
    flex-direction: row;

}

.questions-div {
    margin-left: 11.5em;
    padding-top: 5em;
    width: 100%;
    border-left: .075em solid rgba(150, 149, 149, 0.308);

}

.all-questions-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: .5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.question-count {
    margin-left: .5em;

    margin-bottom: 1em;

}

.question-detail-container {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
    /* margin: 1em; */
    gap: 1em;
}

.ask-question-button {
    box-sizing: border-box;
    height: 2.75em;
    /* margin-top: 2em; */
    margin-right: 1em;
    background-color: rgb(96, 47, 5);
    color: white;
    border-radius: .3em;
    border: .1em solid rgb(77, 37, 3);
    font-size: small;
    padding-left: .75em;
    padding-right: .75em;
    cursor: pointer;
}

.ask-question-button:hover {
    background-color: rgb(64, 31, 3);
}

.all-questions-header {
    color: rgba(0, 0, 0, 0.801);
    font-size: 1.75em;

}

.title-link {
    color: rgb(96, 47, 5);
}

.title-link:hover {
    color: rgb(142, 70, 8);
}

.top-container {
    border-bottom: .075em solid rgba(150, 149, 149, 0.308);
    border-width: 100%;
    padding-left: .5em;

}

.question-detail-tags,
.question-tried-expected-all-questions {
    margin-bottom: .5em;
}

.tags-username-all-questions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.username-all-questions {
    padding-right: 1em;
}

.questions-tag-link {
    text-decoration: none;
    color: rgb(96, 47, 5);
    padding-right: 5px;
}

.questions-tag-link:visited {
    color: rgb(96, 47, 5);
}

.questions-tag-link:hover {
    color: rgb(142, 70, 8);
}

.side-navbar-for-pages {
    position: fixed;

}
