.test {
    display: flex;
    flex-direction: column;
    padding-right: 5em;
    /* background-color: aqua; */
    border-right: .075em solid rgba(150, 149, 149, 0.308);

    width: 6em;
    height: 100%;
}

.all-questions-link,
.home-link,
.public-text {
    color: gray;

}

.all-questions-link:hover,
.home-link:hover {
    color: black;

}

.span-home-link {
    margin-bottom: 1em;

}

.home-link {
    font-size: small;
}

.public-text {
    font-size: x-small;
}
